<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    {% load crispy_forms_tags %}          
  	 	
        <form method="POST" class="logInForm resetPasswordProperties">
            <h1 class="logInHeader">Reset password</h1>
            <div class="logInForm resetPasswordProperties">
            {% csrf_token %}
            <input type="email" name="email" autocomplete="email" maxlength="254" class="UsernameInput" required id="id_email">   
            
            <p class="requiredTextCreateAccount">*Required</p>
            <p class="emailConformation">An email will be sent sent to you <br> with a link to reset password</p>
            <button class="logInButton resetPasswordMargin" type="submit">Send email</button>
            </div>
        </form>

</body>
</html>