{% extends 'main_website/layout.html' %} {% block body %}
    <form method="post" action="">
        <div>
            <label>Property Name</label>
            {{form.property_name}}
        </div>
        <div>
            <label>Email</label>
            {{form.email}}
        </div>
        <div>
            <label>Phone Number</label>
            {{form.phone_number}}
        </div>
        <div>
            <label>Property Type</label>
            {{form.property_type}}
        </div>
        <div>
            <label>University Catered</label>
            {{form.university_catered}}
        </div>
        <div>
            <h3>Facilities catered</h3>
            {{form.laundromat}}
            <label for="id_laundromat">Laundromat</label>
            {{form.unlimited_wifi}}
            <label for="id_unlimited_wifi">Unlimited wifi</label>
            {{form.transport}}
            <label for="id_transport">Transport</label>
            {{form.free_electricity}}
            <label for="free_electricity" >Free electricity</label>
        </div>
        <hr>
        <div>
            <h2>Property address</h2>
            {{form.street}}
            {{form.town}}
            {{form.postal_code}}
            {{form.province}}
        </div>
        <input type="submit" value="Add property">
    </form>

{% endblock %}