{% extends 'main_website/layout.html' %} {% block body %}
    <form method="post" action="">
        <div>
            {{form.property_name}}
        </div>
        <div>
            {{form.email}}
        </div>
        <div>
            {{form.phone_number}}
        </div>
        <div>
            {{form.property_type}}
        </div>
        <div>
            {{form.university_catered}}
        </div>
        <div>
            <h3>Facilities catered</h3>
            {{form.laundromat}}
            {{form.unlimited_wifi}}
            {{form.transport}}
            {{form.free_electricity}}
        </div>
        <hr>
            <div>
                {{form.single_male}}
                {{form.sharing_male}}
            </div>
            <div>
                {{form.single_female}}
                {{form.sharing_female}}
            </div>
        <hr>
        <div>
            <h2>Property address</h2>
            {{form.address}}
        </div>
        <input type="submit" value="Add property">
    </form>

{% endblock %}