{% extends 'main_website/layout.html' %} {% block body %}
<!--This is the login page you can create ur id's and classes on the elements here and style them on the styles.css on this app-->
<h1>Log in</h1>
{% if message %}
<p>Invalid details please try again <a href="#">forgot password</a></p>
{% endif %}
{% if logout_message %}
  	<p>{{logout_message}}</p>
{% endif %}
<form action="{% url 'users:login' %}" method="POST">
    {% csrf_token %}
    <div>
        <input type="text" name="user_name" placeholder="Username">
    </div>
    <div>
        <input type="password" name="password" placeholder="Password">
    </div>
    <input type="submit" value="login">
</form>
<a href="{% url 'users:account_creation_type' %}">Create account</a> {% endblock %}
