<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'users/styles.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Properties</title>
</head>
<body>
    {% if properties %}
    {% for property in properties %}
        <div>
            <h1>{{property.property_name}}</h1>
            <form> 
                <input type="hidden" name="id" value={{property.id}}>
                <input type="submit" value="View">
            </form>
        </div>    
    {% endfor %}
    {% else %}
    <div class=" shoeMesomething">
        THERE ARE NO PROPERTIES IN THIS SECTION :(
    </div>
    {% endif %}
    
</body>
</html>